body {
  width: 100%;
  background-color: white;
}
.chessboard, .chessboard div, header , .grade_b, .grade_w , .score_b , .score_w {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  position: absolute;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  padding: 15px 200px 20px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  text-align: left;
  font-size: 40px;
  font-family: "Hobo Std", sans-serif;
  color: black;
  z-index: 1;
}
.arbo {
  top: 0px;
  left: 0;
  width: 100%;
  height: 735px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(255,0,102,1);
  position: absolute;
}
  
.chessboard {
  top: 127px;
  left: 247px;
  width: 566px;
  height: 566px;
  border:3px inset #b51c4f;
  background-color: #ffa3a3;
}

.grade_b, .grade_w {
  top: 170px;
  left: 950px;
  width: 123px;
  height: 55px;
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 0;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 3px;
  background-color: #ffa3a3;

}
.grade_w {
  top: 255px;
}

.score_b , .score_w {
  top: 170px;
  left: 1078px;
  width: 120px;
  height: 55px;
  padding-right: 15px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 35px;
  background-color: white;
  color: black;
  font-size: 45px;
  font-family: "Berlin Sans FB", "Calibri ", sans-serif;
  text-align: right;

}
.score_w {
  top: 255px;
}

.grade_b > div, .grade_w > div {
    width: 40px;
    height: 40px; 
    border-radius: 20px;
    background-color: black;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5)
}
.grade_w > div {
    background-color: white;
}

#memo, .copyright, .win, .memo_top, .memo_bottom, .shield, .playerchoice, .playerchoice div, .sbCannotChess, .arboPatch, .level, .level div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  position: absolute;
}

.memo_top {
  top: 400px;
  left: 950px;
  width: 250px;
  height: 40px;
  padding-left:15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  text-align: left;
  font-size: 30px;
  font-family: "Kozuka Gothic Pro EL", sans-serif;
}

.memo_bottom, #memo {
  top: 438px;
  left: 950px;
  width: 250px;
  height: 242px;
  border-top: 2px dashed black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

#memo {
  height: 200px;  
  padding-top: 5px;
  padding-left:20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  font-size: 30px;
  font-family: "Calibri", sans-serif;
}

.win {
  left: 10px;
  top: 200px;
  height: 30px;
  width: 230px;
  border-radius: 5px;
  border: 2px outset rgb(230, 90, 110); 
  background-color: #f53b5a;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  color: white;  
  font-size: 20px;
  font-family: "Kozuka Gothic Pro EL", sans-serif;
  text-align: center;
  display: none;
}

.win:hover {
  background-color: #f55c75;
  transition: background 0.3s ease;
}

.restart {
  display: block;
}


.copyright {
  top:735px;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px 0 0;
  background-color: white;
  box-shadow: 0 -4px 4px rgba(0,0,0,0.4);
  position: absolute;
  z-index: 2;
  font-family: "Kozuka Gothic Pro EL", sans-serif;
  font-size: 10px;
  text-align: center;
}

.shield {
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 785px;
  background-color: rgba(10,0,0,0.3); 
}

.playerchoice, .level {
  top: 227px;
  left: 510px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 5px 24px rgba(50, 50, 50, 1);
  font-size: 40px;
  font-family: "Gulim", sans-serif;
  text-align: left;

}
.level {
  top: 177px;
  height: 300px;
}

.playerchoice1, .playerchoice2, .level1, .level2, .level3{
  top: 20px;
  left: 30px;
  width: 440px;
  height: 70px;
  padding-top: 7px;
  padding-left: 80px;
  border: 2px dashed #f55c75;
  border-radius: 10px;
}

.playerchoice2 {
  top: 110px;
}
.level1 {
  top: 25px;
}
.level2 {
  top: 115px;
}
.level3 {
  top: 205px;
}
.level1, .level2, .level3 {
  padding-top: 10px;
  padding-left: 0;
  text-align: center;
}

.p1s, .p2s, .L1, .L2, .L3 {
  top: 0;
  left: 0;
  width: 500px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p2s, .L2 {
  top: 100px;
}
.L3{
  top: 200px;
}

.p1s:hover, .p2s:hover, .L1:hover, .L2:hover, .L3:hover {
  background-color: rgba(255,0,102,0.1);
  transition: background 0.4s ease;
}

.disappear {
  display: none;
}

.sbCannotChess {
  top: 40px;
  left: 413px;
  width: 230px;
  height: 85px;
  padding-top: 20px;
  border: 1px solid white;
  border-top: 0px solid white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgba(255, 215, 210, 0.8);
  box-shadow: 0px 2px 7px rgba(50, 50, 50, 0.75);
  color: white;
  font-size: 20px;
  font-family: "Segoe UI Semibold", sans-serif; 
  text-align: center;
  transition: top 0.8s ease;
}

.sbCannotChess_state2 {
  top: 130px;
  transition: top 0.8s ease;

}
.arboPatch {
  top: 90px;
  left: 400px;
  width: 260px;
  height: 40px;
  border-bottom: 3px solid #550030; 
  background-color: rgba(255,0,102,1);
}

#hint{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  position: absolute;
}

#hint {
  top: 640px;
  left: 1230px;
  width: 40px;
  height: 40px;
  padding-top: 7px;
  padding-left: 4px;
  border-radius: 20px;
  background-color: #ffa3a3;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  color: white;
  font-size: 18px;
  font-family: "Kozuka Gothic Pro EL", sans-serif;
  transition: all 0.2s ease;
}
#hint:hover {
  top: 638px;
  left: 1228px;
  width: 44px;
  height: 44px;
  padding-top: 9px;
  padding-left: 5px;
  border-radius: 22px;
  font-size: 20px;
  background-color: #ffb8b8;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  transition: all 0.2s ease;
}

#hint:active {
  top: 641px;
  left: 1231px;
  width: 38px;
  height: 38px;
  padding-top: 7px;
  padding-left: 3px;
  border-radius: 19px;
  font-size: 17px;
  background-color: #f5667e;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
  transition: all 0.25s ease;
}